<div class="navbar">
    <div class="navdiv">
        <div class="logo"><a href="#">Jayden Mobile Detailing</a> </div>
        <div class="navigation">
            <ul>
                <li><a href="/Home">Home</a></li>
                <li><a href="/Our-Service">Service</a></li>
                <li><a href="#">Contact</a></li>
                <button><a class="log" href="#">SignIn</a></button>
                <button><a class="reg" href="#">SignUp</a></button>
            </ul>
        </div>
    </div>
</div>