*{
    text-decoration: none;
}
.navbar{
    width: 100%;
    height: 14vh;
    display: flex;
    background-color: #102C57;
    padding-right: 15px;
    padding-left: 15px;
    /* border: 1px solid white; */
}
.navdiv{
    display: flex; 
    align-items: center;
    width: 100%;
    height: 14vh; 
}
.logo{
    width: 40%;
    /* border: 1px solid white; */
}
.navigation{
    margin-left: 30%;
    /* border: 1px solid blue; */

}
.logo a{
    font-size: 45px; 
    font-weight: 600; 
    color: white;
}
li{
    list-style: none; 
    display: inline-block;
}
li a{
    color: white; 
    font-size: 30px; 
    margin-right: 18px;
}
button{
    border: 1px solid white;
    background: none;
    margin-left: 10px; 
    border-radius: 20px; 
    padding: 10px;
    width: 10vh;
}
button a{
    color: white; 
    font-size: 18px;
}
button:hover{
    color: #fff;
    background-color: #000;
}