.service-Container{
    width: 100%;
    height: fit-content;
}

.montageBox{
    width: 100%;
    height: 80vh;
    border: 1px solid;
}




.services{
    width: 100%;
    height: 120vh;
    border: 1px solid white;
    background-color: #5A639C;
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    justify-content: center;
    padding: 5vh;
}

.service-Details{
    width: 25%;
    height: 50vh;
    border: 1px solid #fff;
    margin: 1vh;
}