<div class="service-Container">
    <div class="header">
        <h1>Our Services</h1>
        <h4></h4>
    </div>
    <div class="montageBox">
        <!-- <source src="movie.mp4" type="video/mp4"> -->
        <video width="600" height="450" autoplay controls muted>
            <source src="/assets/detailing-montage.mp4" type="video/mp4">
        </video>
    </div>
    <div class="services">
        <div class="service-Details">
            <div class="imgIcon"><img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/engine-wash-3695425-3077033.png" alt=""></div>
            <h1>Engine Wash</h1>
            <span>
                This is process of cleaning the engine bay to removing dirt, grease, oil, and other contaminants that can accumulate over time.
                We use specialized cleaners and degreasers, typically applied with a sprayer or brush while taking the necessary precautions to avoid damaging sensitive components. 
                Regular engine washes can help maintain the engine's performance and longevity by keeping it clean and free of harmful substances.
            </span>
        </div>
        <div class="service-Details"></div>
        <div class="service-Details"></div>
        <div class="service-Details"></div>
        <div class="service-Details"></div>
        <div class="service-Details"></div>
    </div>
</div>