<div class="footerContainer">
    <div class="rowOne">
        <img class="logo-icon" src="https://freepnglogo.com/images/all_img/1713419166FB_Logo_PNG.png" alt="">
        <img class="logo-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt="">
        <img class="logo-icon" src="https://freelogopng.com/images/all_img/1690643591twitter-x-logo-png.png" alt="">
        <img class="logo-icon" src="https://w7.pngwing.com/pngs/814/840/png-transparent-tiktok-tiktok-logo-tiktok-icon-thumbnail.png" alt="">
    </div>
    <div class="rowTwo">
        <h1><a href="">Specials</a></h1> &nbsp;
        <h1><a href="">About us</a></h1>
        <h1><a href="">Our Team</a></h1>
        <h1><a href="">Future Projects</a></h1>
    </div>
    <div class="rowThree">
        <h1>©2024 Jaden Mobile Detailing | All Rights Reserved</h1>
    </div>
</div>